#header { 
	text-align:center; 
	background-color:#00FF00; 
	border:2px dotted blue;  
	padding-top:10px; 
	padding-bottom:10px; 
	padding-left:15px; 
	padding-right:15px; 
	width:250px; 
	margin-bottom:20px; 
}
	