body {
	box-sizing:border-box; 
	margin:0px; 
	padding:0px:   
}  

#header { 
	text-align:left;  
	margin-top:-5px;
	padding:40px 0; 
	background-color:orange;  
	border:3px solid black;
}   
nav ul li a {
	background:orange;
	text-decoration:none;
	padding: 6px 15px;
	color: white;
	font-weight:bold;
	font-size: 20px;
	border-radius: 20px;  
	border:2px solid black
}
nav ul {
	display: flex;
	align-items: center; 
	float:center;
}

nav ul li {
	list-style-type:none;
	margin-left: 10px; 
}

nav {
	background-color:yellow;
	position: sticky;
	display:flex;
	border: 1px solid black;
	width: 100%;  
	margin-top:-25px;
	z-index:1;
}
nav ul li a:hover, #nav ul li a.active{
	background: white;
	color: black;
	font-weight:bold;
}
video{
	border: 1px solid black;
	border-radius:20px; 
	margin-left:10px;
	width:45%;
}
article {
	width:45%;
	float:left; 
	padding-left:10px; 
}  

article {
	position:relative; 
	border-radius:20px;
	border:3px solid black; 
	margin-left:10px; 
}
	
article {  
	margin-right:10px; 
	background-color:#EEE;  
} 
#after{
	margin-top:10px;
}
body {
	background-image:url("../images/Bgtyphoon.jpg");
} 

.left{
	margin-bottom:10px;
}

#name {  
	height:60px;  
	width:300px;   
	float:left;
	z-index:1;
} 

#name {
	padding-left:20px; 
	padding-top:15px;
}  

body {  
	font-family:Sans-serif;
}  

#title {  
    border-radius:25px;
	padding:10px;
	background-color:#EEE; 
	border:3px solid black;
} 

footer { 
	margin-top:50%; 
	margin-bottom:-16px;
	text-align:center; 
	background-color:green;  
	padding:10px; 
	border-top:2px solid black;  
	font-size:18px;
	
} 
 
#twt {  
	background: url('../images/icon.png') no-repeat -296px -16px;
	width: 33px;
	height: 33px; 
	text-align:center; 
	margin-left:40%;
	margin-bottom:10px;
	font-size:18px;
} 
#twt:hover {
	background: url('../images/icon.png') no-repeat -296px -91px;
	width: 33px;
	height: 33px;
}  
#fb {  
	background: url('../images/icon.png') no-repeat -182px -17px;
	width: 33px;
	height: 33px; 
	text-align:center; 
	margin-left:40%;
	margin-bottom:10px;
	font-size:18px;
} 
#fb:hover {
	background: url('../images/icon.png') no-repeat -182px -91px;
	width: 33px;
	height: 33px;
} 
#insta {  
	background: url('../images/icon.png') no-repeat -125px -17px;
	width: 33px;
	height: 33px; 
	text-align:center; 
	margin-left:40%; 
	margin-bottom:10px;
	font-size:18px;
} 
#insta:hover {
	background: url('imagesicon.png') no-repeat -125px -91px;
	width: 33px;
	height: 33px;
}  
#trans { 
	border:1px solid black;  
	border-radius:10px;
	width:34px;
	height:34px;
	margin-bottom:10px;
}

@media screen and (max-width: 1000px) {
video, .left, .mid, .right {
    width: 95%;    
}  